<main>
  <div class="container">
    <table class="table mt-5">
      <h2 id="tituloInformacoes">Informações</h2>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sabor</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Operações</th>
        </tr>
      </thead>
      <tbody>
        {{#each allPizza}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>
              <a href="/pedido/informacao/{{id}}">{{novoSabor}}</a>
            </td>
            <td>
              <a>{{tamanhoPizza}}</a>
            </td>
            <td>
              <a>{{quantidadePedido}}</a>
            </td>
            <td>
              <form action="/pedido/remocao/{{id}}" method="POST" id="formDisplay">
                <button type="submit" class="btn btn-danger btn-sm mx-1">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
              <a href="/pedido/atualizar" class="btn btn-primary btn-sm mx-1">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
            </td>
          </tr>
        {{else}}
          <tr>
            <th scope="row" colspan="5">Não há sabores criados.</th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
