<main>
  <div class="container">
    <table class="table mt-5">
      <h2 id="tituloInformacaoUnica">Informação do seu sabor único</h2>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sabor</th>
          <th scope="col">Data de Inserção</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Pedido em Atividade</th>
        </tr>
      </thead>
      <tbody>
        {{#if saborProcuraID}}
          <tr>
            <td>{{saborProcuraID.id}}</td>
            <td>{{saborProcuraID.novoSabor}}</td>
            <td>{{saborProcuraID.datainsercao}}</td>
            <td>{{saborProcuraID.quantidadePedido}}</td>
            <td>{{saborProcuraID.tamanhoPizza}}</td>
            <td>{{saborProcuraID.status}}</td>
          </tr>
        {{else}}
          <tr>
            <th scope="row" colspan="6">Informações Incompletas.</th>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</main>
