<main>
  <div class="container">
    <table class="table mt-5">
      <h2 id="tituloInformacaoUnica">Informação do seu sabor único</h2>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sabor</th>
          <th scope="col">Data de Inserção</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Pedido em Atividade</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{saborCriado}}</td>
            <td>{{valorSabor}}</td>
            <td>{{valorDataInsercao}}</td>
            <td>{{valorQtPedido}}</td>
            <td>{{valorTamPedido}}</td>
            <td>{{valorStatus}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</main>
