<main>
  <div class="container">
    <h2 style="font-family: 'Segoe Script', cursive; color: #645218;">Remoção</h2>
    {{#each novosSabores}}
    <form action="/pedido/remocao/{{this.id}}" method="post">
      <table class="table mt-5">
        
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sabor</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{@index}}</th>
            <td>
              <a href="/pedido/informacao/{{this.id}}">{{this.saborInserido}}</a>
            </td>
            <td><button type="submit" class="btn btn-danger">Remover Item</button></td>
          </tr>
        </tbody>
      </table>
    </form>
    {{else}}
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sabor</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" colspan="3">Não há sabores criados.</th>
        </tr>
      </tbody>
    </table>
    {{/each}}
  </div>
</main>
