<main>
  <div class="container">
    <h2 id="tituloRemocao">Remoção</h2>
    {{#if allPizza.length}}
      {{#each allPizza}}
      <form action="/pedido/remocao/{{this.id}}" method="post">
        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Sabor</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{this.id}}</th>
              <td>
                <a href="/pedido/informacao/{{this.id}}">{{this.novoSabor}}</a>
              </td>
              <td><button type="submit" class="btn btn-danger">Remover Item</button></td>
            </tr>
          </tbody>
        </table>
      </form>
      {{/each}}
    {{else}}
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sabor</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="text-center">Não há sabores criados.</td>
        </tr>
      </tbody>
    </table>
    {{/if}}
  </div>
</main>
